<ul>
  <li><span>{{"2024-06-02" | date: formDate}}: [{%include a-page.html key="sheff"%}] Revision 4.</span></li>
  <li><span>{{"2024-03-24" | date: formDate}}: [{%include a-page.html key="news_20240209" htmp="<i>" htms="</i>"%}].</span></li>
  <li><span>{{"2024-03-06" | date: formDate}}: [{%include a-page.html key="gapcm"%}] Revision 6.</span></li>
  <li><span>{{"2023-12-31" | date: formDate}}: [{%include a-page.html key="news_20231231" htmp="<i>" htms="</i>"%}].</span></li>
</ul>
<p>For an archive of posts, visit the [{%include a-page.html key="_news" htms=
" page"%}].</p>
