<ul class="anchor">
  <li>{%include li-page.html key="pnic"%}
    <ul class="anchor smaller">
      <li>{%include li-page.html key="pnic_kesimate"%}</li>
    </ul>
  </li>
  <li>{%include li-page.html key="gapcm"%}</li>
  <li>{%include li-page.html key="netronic"%}</li>
</ul>
<p>…and <strong><em>many</em></strong> more. Head over to the [{%include
a-page.html key="_projects" htms=" page"%}], or our [<{{htmlAOut}}"{{siteData.gitRepos}}"
>list of repositories</a>] for the most complete listing.</p>
