.smaller {
  line-height: var(--lineHeight);
}

body {
  line-height: var(--lineHeight);
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-width: 720px;
  min-width: auto;
  --lineHeight: 1.67em;
  --spacer: 0.25em;
}

article {
  margin-block-end: 4%;
  margin-block-start: calc(var(--spacer) * 4);
  padding-inline-end: 4%;
  padding-inline-start: 4%;
}

article > section {
  margin-block-end: calc(var(--spacer) * 8);
  margin-block-start: calc(var(--spacer) * 6);
  padding-block-start: calc(var(--spacer) * 2);
}

article > section h5,
article > section li,
article > section p {
  margin-block-end: calc(var(--spacer) * 3);
}

article > section p::before {
  color: var(--colorAccentMin);
  content: "¶ ";
  font-size: smaller;
}

article > section > div {
  margin-block-end: calc(var(--spacer) * 4);
}

article > section > header {
  margin-block-end: calc(var(--spacer) * 2);
}

article > section > header h5,
article > section > header li,
article > section > header p {
  margin-block-end: unset;
}

article > section > header p::before {
  color: unset;
  content: unset;
  font-size: unset;
}

article > section > header > .subtitle {
  font-style: italic;
  font-weight: bold;
}

blockquote {
  border-inline-start-color: var(--colorAccentMin);
  border-inline-start-style: solid;
  border-inline-start-width: 2px;
  color: var(--colorAccentHigh);
  padding-inline-start: calc(var(--spacer) * 4);
}

code,
pre,
dl.technical > li > dt,
li.technical > dt,
ul.technical > li > dt {
  background-color: var(--colorAccentMin);
  color: var(--colorTechnical);
  font-family: var(--fontFamilyMonospace);
  font-size: smaller;
  padding: var(--spacer);
}

pre {
  line-height: initial;
  margin-block-end: calc(var(--spacer) * 2);
  margin-block-start: calc(var(--spacer) * 2);
  overflow-x: auto;
}

dl.anchor,
li.anchor,
ul.anchor,
dl.headered,
li.headered,
ul.headered,
dl.technical,
li.technical,
ul.technical {
  list-style-type: none;
}

dl.anchor > li::before,
li.anchor::before,
ul.anchor > li::before {
  display: none;
}

dl.anchor > li > dt > a,
li.anchor > dt > a,
ul.anchor > li > dt > a,
dl.headered > li > dt,
li.headered > dt,
ul.headered > li > dt {
  font-weight: bold;
}

del {
  color: var(--colorAccentMid);
}

div.hr {
  border: 0;
  border-block-end-color: var(--colorAccentLow);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-start-color: var(--colorAccentMin);
  border-block-start-style: solid;
  border-block-start-width: 1px;
  margin-block-end: var(--spacer);
  margin-block-start: var(--spacer);
}

dl dl,
ol ol,
ul ul {
  margin-block-start: calc(var(--spacer) * 2);
  margin-inline-start: calc(var(--spacer) * 2);
}

dl,
ul {
  list-style: "‒ " outside;
}

dl dl.anchor,
dl dl.headered,
dl dl.technical,
ul ul.anchor,
ul ul.headered,
ul ul.technical {
  list-style: "⌎› " outside;
}

dl.no-margin li,
dl.no-margin dl,
ul.no-margin li,
ul.no-margin ul {
  margin-block-end: 0;
  margin-block-start: 0;
}

img {
  margin: auto;
  max-width: 100%;
}

li {
  margin-inline-start: calc(var(--spacer) * 4);
}

:not(a) > li:hover {
  background-color: var(--colorHoverBackground);
}

li > dd,
li > dt {
  display: inline;
}

li > dt + dd::before {
  content: " — ";
}
