<figure>
  <{{htmlImg}}"res/sd-r0.jpg" alt=
"{{pageTitle}} with all its digits and indicators lit on a small web browser window." />
</figure>
<p>The NET SD-R0 was the world's first portable CD player simulator for the web,
having featured all the standards and some premiums:</p>
<ul class="no-margin">
  <li><span>15 playback modes:</span>
    <ul>
      <li>All, Intro PGM, 1, Shuffle, CMS, Intro CMS, Shuffle CMS,</li>
      <li>repeat variants of the above (e.g. Repeat Shuffle), and</li>
      <li>A-B</li>
    </ul>
  </li>
  <li><span>23-step CMS programming</span>
    <ul>
      <li>CMS is the abbreviation of Custom Music Sequence.</li>
    </ul>
  </li>
  <li>Cuesheet support</li>
  <li><span>Index navigation</span>
    <ul>
      <li>No other media players can do this.</li>
    </ul>
  </li>
  <li>4 display modes</li>
  <li>Time calculation</li>
  <li>Bass boost</li>
  <li><span>Deemphasis</span>
    <ul>
      <li>Fully-automatic, upon detection of the appropriate cuesheet flag.</li>
    </ul>
  </li>
  <li>10 preset beeps <i>for development only.</i></li>
</ul>
<p>It was accompanied with a comprehensive, 30-page operating instructions
manual.</p>
<p>The SD-R0 was a development model which would set the base to the three
consumer launch models: the SD-30 for beginners, the SD-50 for purists, and the
SD-70 for enthusiasts.</p>
<p>Unfortunately, its source material is lost to an accidental data erasure. The
[{%include a-page.html key="ews"%}] had since been redesigned to minimize the
impacts from such. We anticipate to restore the SD-R0 and its accompanying
documentations by <del>late 2021</del> <ins>the foreseeable future</ins>.</p>
<p>More about the project can be found in [{%include a-page.html key=
"news_20200818" html="its announcement"%}].</p>
<p>We also recovered a [<{{htmlAOut}}"https://www.youtube.com/watch?v=_qcwkc5hlbk"
>video recording</a>] of the SD-R0, comparing its cuesheet and deemphasis
capabilities to those in VLC.</p>
<p>Thanks for reading.</p>
