---
key: "home"
---
{% include variables.html %}
<link rel="stylesheet" href="res/prefers-color-scheme.css" />
<script defer src="res/scripts/clid.js"></script>
<section class="smaller">
  <ul class="no-margin" id="front-matter">
    <li
>This website follows your color scheme preference: currently <span id=
"prefers-color-scheme"></span>.</li>
    <li
><dt>01/31:</dt>
      <ul>
        <li>New and updated pages in About/EDEN Online.</li>
        <li>Moved Keyboard Navigation to About/EDEN Online/Navigation#Keyboard Use.</li>
      </ul>
    </li>
  </ul>
</section>
{% include sections.html %}
<section class="italic">
  <div class="hr"></div>
  <p>Built on NET Technology.</p>
</section>
