---
key: "home"
---
{% include variables.html %}
<link rel="stylesheet" href="res/prefers-color-scheme.css" />
<script defer src="res/scripts/clid.js"></script>
<section class="smaller">
  <ul class="no-margin" id="front-matter">
    <li
>This website follows your color scheme preference: currently <span id=
"prefers-color-scheme"></span>.</li>
    <li><span
>03/11:</span>
      <ul>
        <li
>Various document stylesheet corrections--they should be stable now…</li>
        <li
>See [<a href="#news">News</a>] below.</li>
      </ul>
    </li>
  </ul>
</section>
{% include sections.html %}
<section>
  <div class="hr"></div>
  <p><i>Built on NET Technology.</i></p>
</section>
