---
key: "about_us_infrastructure"
---
{% include variables.html %}
<section>
  <p>EDEN Workstation System (EWS) is the software infrastructure for use with
EDEN Workstation computers, made in hopes to offer the best personalized
computing experience to its user.</p>
  <p>Although it is built on top of [<{{ htmlAOut }}"https://xfce.org">Xfce</a>]
and [<{{ htmlAOut }}"https://winehq.org">Wine</a>] on [<{{ htmlAOut }}
"https://debian.org">Debian</a>] GNU/Linux, it also provides services to Android
and Windows 10, albeit to lesser extents.</p>
  <p>Most of it is Free and Open Source Software (FOSS). Having moved from a
Windows-only infrastructure, irreplaceable Windows software run with Wine
whenever possible. We still have Windows 10 on each eligible computer as a last
resort.</p>
</section>
{% include sections.html %}
