---
key: "home_projects"
---
{% include variables.html %}
<section>
  <div>
    <p><i>The following projects have a corresponding section in the Online
Portal. The most complete list can be found in our [<{{ htmlAOut }}
"{{ gitHome }}?tab=repositories">list of repositories</a>]. Sorted ascendingly
by name.</i></p>
  </div>
  <div>
    <ul class="anchor">
      {% for key in page.keys %}
      <li>{% include li-page.html key=key %}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <ul class="anchor">
      <li><span>[<a href="/{{ site.data["home"].path }}"
>{{ siteTitle }}</a>]</span><span
>{{ siteSubtitle }} <i>Itself is a project alright.</i></span></li>
    </ul>
  </div>
</section>
