#prefers-color-scheme::after {
  content: "unset";
}

@media (prefers-color-scheme: light) {
  #prefers-color-scheme::after {
    content: "set to light";
  }
}

@media (prefers-color-scheme: dark) {
  #prefers-color-scheme::after {
    content: "set to dark";
  }
}
