---
key: "unagi_demonstration"
---
{% include variables.html %}
<link rel="stylesheet" href="/res/styles/form.css" />
<link rel="stylesheet" href="/res/styles/input.css" />
<link rel="stylesheet" href="/res/styles/una-menu.css" />
<section>
  <p>The following forms are purely visual for showcase purposes, and thus don't
mean anything practical. An ideal application would want to use JavaScript to
bring their usability closer to the contemporary expectations.</p>
</section>
{% include sections.html %}
