---
key: "viewer_about"
---
{%-include variables.html-%}
<section>
  <p>Despite the spectrum of rich content web browsers are capable of handling,
their interface--particularly their mobile counterpart--as a file viewer is
lacking. {{data["viewer"].body.title}} wraps said capabilities with our frontend
primarily to provide some adjustments of the output.</p>
  <p>{{data["viewer"].body.title}} supports loading audio, image, and video
files; HTML and PDF documents; while those otherwise are displayed as plain
text. Note that support ultimately depends on your browser.</p>
  <p>{{data["viewer"].body.title}} derived from [{%include a-page.html key=
"jcard-template"%}] as a second testbed to generalize our web application
infrastructure, and use the [{%include a-page.html key="unagi"%}] menu bar in
practice for the first time.</p>
</section>
