---
key: "about_us"
---
{% include variables.html %}
<section>
  <p><span class="eden">ED7 ENTERTAINMENT</span>--or <span class="eden"
>EDEN</span> in short--is a pseudo-organization consisting of its sole member:
Brendon. We generally work around the technical bits in media production and
reproduction.</p>
</section>
{% include sections.html %}
<section class="italic">
  <div class="hr"></div>
  <p>Perhaps you want to [<a href="/{{ site.data["about_this"].path }}">read
about EDEN Online</a>]? Or maybe [<a href="/{{ site.data["about_me"].path }}"
>read about myself</a>]?</p>
</section>
