---
key: "about_us"
---
{% include variables.html %}
<section>
  <p><span class="eden">ED7 ENTERTAINMENT</span> (<span class="eden">EDEN</span
>) is a pseudo-organization working on the technical aspects of media.</p>
  <p>We also built, use, and maintain our own [<a href="/{{
site.data["about_us_infrastructure"].path }}">software infrastructure</a>].</p>
</section>
{% include sections.html %}
<section>
  <div class="hr"></div>
  <p><i>Perhaps you want to [<a href="/{{ site.data["about_this"].path }}">read
about {{ siteTitle }}</a>]?</i></p>
</section>
