---
key: "jcard-template_about"
---
{% include variables.html %}
<section>
  <p>J-Card Template is a web application that allows one to create a cassette
tape J-card straight from the browser without mangling with Word documents.
Simply edit the form below the real-time card preview, then print the page when
finished. It is recommended to double-check the printout in a print preview.</p>
  <p>A J-card--also known as an inlay card--is a foldout paper that tucks inside
a cassette tape compartment ("Norelco box") containing track listings, artwork,
credits, messages, and more. Its shape usually resembles the letter J; some
extends to both sides of the compartment, resembling the letter U instead.</p>
  <p>J-cards made with the [<{{ htmlAOut }}
"https://unixispower.gitlab.io/jcard-template">original version</a>] can be
recreated here without deviations; our metrices are (now) identical.</p>
</section>
{% include sections.html %}
