<section>
  <p>As a universal framework: {{data["unagi"].body.title}} works on most sizes,
the smallest being the [<{{htmlAOut}}"https://en.wikipedia.org/wiki/Samsung_Galaxy_S5"
>Galaxy S5</a>];<sup><a href="#note-1">[1]</a></sup> it has over 24 [{%include
a-page.html key="unagi_fields" html="field styles"%}]<sup><a href="#note-2"
>[2]</a></sup> for both desktop- and mobile-class applications; and it employs a
common design language, so switching between styles is comfortable for
everyone.</p>
</section>
<section>
  <h3>Menu Bar</h3>
  <p>On top of form fields, a desktop-class menu bar is available complete with
submenu, icon, and mnemonic (accelerator) display support. Its mobile-class
equivalent is yet to come.</p>
</section>
<section>
  <h3>Minimum Required Widths</h3>
  <p>Using the Cantarell typeface and a global font size of 12pt, a bare
presentation of {{data["unagi"].body.title}} requires a container of at least
295px wide, 313px if contained within a <code>fieldset</code> or likewise. An
ideal presentation--like the [{%include a-page.html key="unagi_demonstration"
%}]--requires a viewport of at least 340px, which is met with the Galaxy S5
(360px). These requirements can be brought down with the exclusive use of small
fields and short inputs.</p>
  <p>With the spacer-reduced <i>mini!</i> [{%include a-page.html key=
"_about_layouts" html="layout"%}], a bare presentation of {{data["unagi"
].body.title}} requires container of at least 225px wide, 238px if contained
within a <code>fieldset</code> or likewise.</p>
</section>
<section>
  <h3>Technologies</h3>
  <p>{{data["unagi"].body.title}} uses only standard web technologies and
without JavaScript,<sup><a href="#note-3">[3]</a></sup> thus not relying on
external libraries and resources.</p>
</section>
<section>
  <ol class="no-margin smaller">
    <li id="note-1">under the Standard and Mobile layouts.</li>
    <li id="note-2">At least three field styles, each with eight input
styles.</li>
    <li id="note-3">though an application may want to use JavaScript to enhance
its interactivity.</li>
  </ol>
</section>
