.una-menu.soil {
  border-block-end-color: var(--colorAccentLow);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-start-color: var(--colorAccentLow);
  border-block-start-style: solid;
  border-block-start-width: 1px;
}

.una-menu.hr {
  margin: 0;
}
