body {
  background-color: #0f0f0f;
  color: #efefef;
  font-family: "Cantarell", "Liberation Sans", "Arial", "Helvetica",
    "sans-serif";
  line-height: 1.5em;
  margin: 1em auto;
  width: 40em;
}

h1,
h2 {
  margin-bottom: 0.5em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

hr {
  border: none;
  border-top: 1px solid #2f2f2f;
  margin: 0.25em auto;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

li {
  margin-bottom: 1em;
}

li:hover {
  background-color: #1f1f1f;
}

a {
  color: #7f7fef;
}

a:hover {
  background-color: #0f0f7f;
  color: #bfbfef;
}

a:focus {
  background-color: #0f7f0f;
  color: #bfefbf;
}

a.up::before {
  content: "^";
}
