---
key: "_about-us"
---
{%-include variables.html-%}
<section>
<script defer src="res/about-us.js"></script>
  <p>{{siteData.orgName}} ({{siteData.orgNameShort}}) is a pseudo-organization
working mainly on media software. Our portfolio spans over a decade of media
production and software development, both front- and backend. We pay extreme
attention to detail and quality throughout our products, and are benefiting from
them. Likewise, we even built, use, and maintain our own [{%include a-page.html
key="ews" html="software infrastructure"%}].</p>
</section>
{%include sections.html-%}
<section>
  <div class="hr"></div>
  <p><i>Perhaps you want to read [{%include a-page.html key="_about" html="about
the " htms=siteClass%}]?</i></p>
</section>
