<p>Our scripts perform specialized automations, provide user utilities, assist
in running executables, and even supply functions to other scripts. The last of
which makes up {{siteData.orgNameShort}} Workstation Scripting Environment ({{
siteData.orgNameShort | slice: 0}}WSE). Some--like [{%include a-page.html key=
"pnic"%}]--are their own projects. Finally, they integrate with the graphical
environment via global keyboard shortcuts and [<{{htmlAOut}}"https://docs.xfce.org/xfce/thunar/custom-actions"
>Thunar custom actions</a>].</p>
<p>Collectively, they are successors to [{%include a-page.html key="edenshdos"
%}].</p>
