---
key: "ews"
---
{%-include variables.html-%}
<section>
  <figure>
    <{{htmlImg}}"{{sitePathRes}}/media/ews-splash.jpg" />
    <figcaption>Current login splash image.<sup><a href="#note-a">[a]</a></sup
></figcaption>
  </figure>
  <p>{{pageTitle}} (EWS) is the software infrastructure for {{
siteData.orgNameShort}} Workstation computers and its user.</p>
  <p>It is built on top of [<{{htmlAOut}}"https://xfce.org">Xfce</a>] and [<{{
htmlAOut}}"https://winehq.org">Wine</a>] on [<{{htmlAOut}}"https://debian.org"
>Debian</a>], and provides lesser services to Android and Windows.</p>
  <p>Setting EWS apart from the contemporary are its meticulous [<a href="#cfg"
>customizations</a>], supplemented by our utility [<a href="#scripts">scripts</a
>] and [{%include a-page.html key="netronic" html="desktop theming suite"%}],
backed by a comprehensive [<a href="#filesystem-hierarchy">filesystem
hierarchy</a>].</p>
</section>
{%include sections.html-%}
<section>
  <div class="hr"></div>
  <ol class="no-margin smaller" type="a">
    <li id="note-a">Modified from a picture of a remote controller's infrared
emitter blasting straight to the camera.</li>
  </ol>
</section>
