---
key: "mjpegfplay_reconstruction"
---
{%-include variables.html-%}
<section>
  <section>
    <h3>{{"2020-04-29" | date: formDate}}</h3>
    <p>As its current design limits what we can improve or append; we felt that
it was best to redesign the majority of the system, starting with its audio
engine. We are currently in the process of building and maturing our Java API,
and some partial work done can be found in the latest releases of [{%include
a-page.html key="qedit"%}].</p>
  </section>
  <section>
    <h3>{{"2020-09-10" | date: formDate}}</h3>
    <p>Mæŋ Mini has taken the spotlight for <del>2020</del> <ins>2021</ins>. It
is a portable CD player simulator for the web, and as such laid some basic
design foundations to the new {{data["mjpegfplay"].body.title}}, whose name will
eventually be replaced. Speaking of which, we had an idea of using the
abbreviation FMJS, which can stand for Frame Media Java Streamer. Although this
does not align with our vision of an ultimate media fiddler, but we will see.</p>
  </section>
  <section>
    <h3>{{"2021-08-31" | date: formDate}}</h3>
    <p>With the loss of Mæŋ Mini, we decided to mature our active projects. Part
of the work resulted in the separation of our Java API to [{%include a-page.html
key="edjc"%}]. Ideally, this will grow to serve as the base for FMJS.</p>
  </section>
  <section>
    <h3>{{"2022-10-20" | date: formDate}}</h3>
    <p>With little-to-no progress for over a year, we decided to cancel our
plans for FMJS. {{data["mjpegfplay"].body.title}} has been major to our history
and thus is better left as is, save for maintenance releases like the one late
last year.</p>
  </section>
</section>
